<section class="mt-5 d-flex justify-content-center flex-column">
    <h2 class="text-center mb-3 text-uppercase bold mt-1">Wyszukaj potrawę</h2>
    <div class="d-flex flex-column align-items-center">
        <select class="mt-3 input-name" placeholder="fds" (change)="changeColor($event)">
            <option value="" disabled selected hidden>Wybierz kategorię</option>
            <option value="all">Wszystkie</option>
            <option value="breakfast">Śniadanie</option>
            <option value="dinner">Obiad</option>
            <option value="supper">Kolacja</option>
        </select>
        <input type="text" class="mt-3 input-name" placeholder="Wpisz nazwę">
        <div class="box-kcal">
            <span>Od</span>
            <input type="text" class="mt-3 input-name" placeholder="Od" style="width: 28%">
            <span>Do</span>
            <input type="text" class="mt-3 input-name" placeholder="Do" style="width: 28%">
        </div>
        <input type="text" class="mt-3 input-name" placeholder="Wpisz składnik">

        <button class="mt-3 btn-search">Szukaj</button>
    </div>
</section>